<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>ArcGIS で始める Web マップアプリ開発　コンポーネント編 後半➁</title>

  <style>
    html,
    body {
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
    }
  </style>
  <!-- API キー認証を使用する場合、下記を利用してください -->
  <!-- <script>
    var esriConfig = { apiKey: "YOUR_ACCESS_TOKEN" };
  </script> -->

  <!-- Calcite Design System をロード -->
  <script type="module" src="https://js.arcgis.com/calcite-components/3.2.1/calcite.esm.js"></script>

  <!-- ArcGIS Maps SDK for JavaScript コア API をロード -->
  <script src="https://js.arcgis.com/4.34/"></script>

  <!-- マップ コンポーネントをロード -->
  <script type="module" src="https://js.arcgis.com/4.34/map-components/"></script>

</head>

<body>
  <!-- 背景色が透明なマップを読み込む -->
  <arcgis-map item-id="45b3b2fb35e94ab09381d0caa0da5946" center="139.74, 35.68" zoom="15">
      <!-- <arcgis-directions> タグを記述 -->
    <arcgis-directions slot="top-right" use-default-route-layer></arcgis-directions>
    <!-- <arcgis-sketch> タグを記述 -->
    <arcgis-sketch slot="bottom-right" creation-mode="update" layout="horizontal"></arcgis-sketch>
    
  </arcgis-map>

  </script>
</body>

</html>